body {
  max-width: 40rem;
  width: 100%;
  margin-inline: auto;
  font-family: system-ui, sans-serif;
}

input,
button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

input {
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
}
